.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #18394c;
  color: white;
  padding: 15px 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #A7C5EB;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-item {
  color: #18394c;
  background-color: #A7C5EB;
  text-decoration: none;
  font-size: 15px;
  margin-left: 10px;
   &:hover,
   &:focus {
     color: lightgray;
     background-color: #4A47A3;
   }
}
