@font-face {
    font-family: 'Circularstd';
    src: url('../public/fonts/circular-std-medium-500.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    src: url('../public/fonts/avenir_roman_12.otf') format('truetype');
}

.navbar_label{
    font-size: 1.8rem;
    font-family: Circularstd;
    color: #ffffff;
}

.section-header{
    font-size: 4rem;
    font-family: Circularstd
}

.section-subheader{
    font-size: 2rem;
    font-family: Avenir
}

.section-title{
    font-size: 42px;
    font-family: Circularstd;
    color: #18394c
}

.section-subtitle{
    font-size: 1.25rem;
    font-family: Avenir;
    color: #556f80
}

.amenity-title{
    font-size: 1.3rem;
    font-family: Circularstd
}

.amenity-text{
    font-size: 1rem;
    font-family: Avenir;
    color: #dcdcdc;
    line-height: 1.8;
    padding-bottom: 6rem;
    max-width: 360px
}

.amenity-line{
    height: 70%;
    border-right: 2px solid black;
    margin-top: 3rem
}

.number{
    transform: rotate(-90deg);
    color: rgba(116, 148, 140, 0.16);
    font-family: Arial;
    font-size: 72px;
    line-height: 34px;
    margin-right: 1rem
}

.guide-div-txt-section{
    text-align: left;
    width: 400px
}

.guide-title{
    font-size: 1.3rem;
    font-family: Circularstd;
    color: #18394c
}

.guide-text{
    font-size: 1rem;
    font-family: Avenir;
    line-height: 1.8;
    color: #556f80
}

.guide-step{
    display: flex;
    align-items: center;
    margin-top: 2rem
}

.guide-line{
    border-bottom: 1px solid rgba(116, 148, 140, 0.16);
    margin: 1rem 0;
}

.circular-shape{
    position: relative;
    left: 130px;
    bottom:-90px;
    display:flex;
    width: 700px;
    height: 700px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 70%;
    background-color: #edfdfb;
}

.logoutBtn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  align-items: center;
}